.navbar {
    border-radius: 0;
    margin-bottom: 0.5%;
}

.navbar-text {
    /*margin-right: 2%; */
    padding: 0 10px 0 14px;
}

.dropdown-menu > li > a:hover {
    background-color: grey;
}

.navbar-nav > li > .dropdown-menu {
    /* margin-top: 0; */
    /* border-top-left-radius: 0; */
    /* border-top-right-radius: 0; */
    background-color: black;
}

/* .changed-height { */
    /* height: 5em; */
/* } */

/* .margin-centered { */
    /* text-align: center; */
    /* margin: auto; */
/* } */

.website-text {
    font: 400 130px/1.7 'Cookie', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 4em;
}


/* .navbar-form .form-control { */
    /* size: 50; */
    /* width: 320px; */
/* } */

.dropdown-menu > li > a:hover {
    background-color: grey;
}

/* #login-dp { */
    /* min-width: 250px; */
    /* padding: 14px 14px 0; */
    /* overflow: hidden; */
    /* background-color: rgba(255, 255, 255, .8); */
/* } */

.navbar-form .form-control {
    size: 50;
    width: 320px;
}

/* #login-dp .help-block { */
    /* font-size: 12px */
/* } */

/* #login-dp .bottom { */
    /* background-color: rgba(255, 255, 255, .8); */
    /* border-top: 1px solid #ddd; */
    /* clear: both; */
    /* padding: 14px; */
/* } */

/* #login-dp .form-group { */
    /* margin-bottom: 10px; */
/* } */

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

.btn-transparent {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.btn-transparent:hover {
    background-color: #fff;
}

.btn-rounded {
    border-radius: 70px;
}

.btn-large {
    padding: 11px 45px;
    font-size: 18px;
}

/**
* Change animation duration
*/

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.blogs img {
    width: 100%;
}




/* Media Queries begin */



@media all and (max-width: 599px) {
    #MyWebsiteHead {
        margin: 9% 4% 2% 7%;
        font-size: .6em;
        /* color: red; */
    }
	
	.website-text {
      font: 400 130px/1.7 'Cookie', Helvetica, sans-serif;
      color: #fff;
      text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      font-size: 2em;
    }

    /* .heading-text {
      font-size: 1em;
      color: green;
    }
    .button-text {
      font-size: 5px;
    } */
}

/* @media (max-width: 768px) { */

/* } */

@media all and (min-width: 600px) and (max-width: 768px) {
	
	/* #login-dp { */
        /* background-color: inherit; */
        /* color: #fff; */
    /* } */

    /* #login-dp .bottom { */
        /* background-color: inherit; */
        /* border-top: 0 none; */
    /* } */
	
    #MyWebsiteHead {
        margin: 9% 4% 2% 7%;
        font-size: 1.1em;
        color: green;
    }
}

/* @media (max-width: 768px) { */
    /* #login-dp { */
        /* background-color: inherit; */
        /* color: #fff; */
    /* } */

    /* #login-dp .bottom { */
        /* background-color: inherit; */
        /* border-top: 0 none; */
    /* } */
/* } */

@media all and (min-width: 768px) and (max-width: 928px) {
    .navbar-form .form-control {
        /* display: inline-block; */
        width: 180px;
        /* vertical-align: middle; */
    }
	
	.navbar-text {
    /*margin-right: 2%; */
    padding: 0 5px 0 0;
}

    #MyWebsiteHead {
        margin: 9% 4% 2% 7%;
        font-size: 1.6em;
        color: blue;
    }

    /* #login-dp { */
        /* background-color: inherit; */
        /* color: #fff; */
    /* } */

    /* #my-button { */
        /* margin: 20px 20px; */
    /* } */

    /* #login-dp .bottom { */
        /* background-color: inherit; */
        /* border-top: 0 none; */
    /* } */

    /* .heading-text {
      font-size: 1.6em;
    }
    .button-text {
      font-size: 1.4em;
    } */
}