body {
    background-color: black;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
    /* margin-top: 0; */
}


.row {
    background-color: black;
    padding: 0% 0% 0% 0%;
}

.changed-height {
    height: 5em;
}

.margin-centered {
    text-align: center;
    margin: auto;
}

/* .website-text { */
    /* font: 400 130px/1.7 'Cookie', Helvetica, sans-serif; */
    /* color: #fff; */
    /* text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1); */
    /* font-weight: bold; */
    /* font-size: 4em; */
/* } */

/* .navbar { */
    /* border-radius: 0; */
    /* margin-bottom: 1.5%; */
/* } */


/* .dropdown-menu > li > a:hover { */
    /* background-color: grey; */
/* } */

/* #login-dp { */
    /* min-width: 250px; */
    /* padding: 14px 14px 0; */
    /* overflow: hidden; */
    /* background-color: rgba(255, 255, 255, .8); */
/* } */

/* .navbar-form .form-control { */
    /* size: 50; */
    /* width: 320px; */
/* } */

/* #login-dp .help-block { */
    /* font-size: 12px */
/* } */

/* #login-dp .bottom { */
    /* background-color: rgba(255, 255, 255, .8); */
    /* border-top: 1px solid #ddd; */
    /* clear: both; */
    /* padding: 14px; */
/* } */

/* #login-dp .form-group { */
    /* margin-bottom: 10px; */
/* } */

/* .btn-fb { */
    /* color: #fff; */
    /* background-color: #3b5998; */
/* } */

/* .btn-fb:hover { */
    /* color: #fff; */
    /* background-color: #496ebc */
/* } */

/* .btn-tw { */
    /* color: #fff; */
    /* background-color: #55acee; */
/* } */

/* .btn-tw:hover { */
    /* color: #fff; */
    /* background-color: #59b5fa; */
/* } */

 /* .carousel-control .fa { */
    /* width: 30px; */
    /* height: 30px; */
    /* margin-top: -15px; */
    /* font-size: 30px; */
 /* } */
	
/* .carousel-control .fa-chevron-left { */
        /* margin-left: -15px; */
    /* } */


/* Media Queries Begin */


@media all and (max-width: 499px) {
	/* #MyWebsiteHead { */
        /* margin: 9% 4% 2% 7%; */
        /* font-size: .8em; */
        /* color: red; */
    /* } */
}

@media all and (min-width:600px) and (max-width: 767px) {
	.carousel-control .fa {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
}

/* @media (max-width: 768px) { */
    /* #login-dp { */
        /* background-color: inherit; */
        /* color: #fff; */
    /* } */

    /* #login-dp .bottom { */
        /* background-color: inherit; */
        /* border-top: 0 none; */
    /* } */
/* } */

@media all and (max-width: 600px) {

}
@media screen and (min-width: 768px) {
    .carousel-control .fa {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
	
	.carousel-control .fa-chevron-left {
        margin-left: -15px;
    }
}

/* @media all and (max-width: 499px) { */
    /* #MyWebsiteHead { */
        /* margin: 9% 4% 2% 7%; */
        /* font-size: .8em; */
        /* color: red; */
    /* } */

    /* .heading-text {
      font-size: 1em;
      color: green;
    }
    .button-text {
      font-size: 5px;
    } */
/* } */

/* @media all and (min-width: 500px) and (max-width: 767px) { */
    /* #MyWebsiteHead { */
        /* margin: 9% 4% 2% 7%; */
        /* font-size: 1.1em; */
        /* color: green; */
    /* } */
/* } */

@media all and (min-width: 766px) and (max-width: 909px) {
    /* .navbar-form .form-control { */
        /* display: inline-block; */
        /* width: 180px; */
        /* vertical-align: middle; */
    /* } */

    /* #MyWebsiteHead { */
        /* margin: 9% 4% 2% 7%; */
        /* font-size: 1.6em; */
        /* color: blue; */
    /* } */

    /* #login-dp { */
        /* background-color: inherit; */
        /* color: #fff; */
    /* } */

    /* #my-button { */
        /* margin: 20px 20px; */
    /* } */

    /* #login-dp .bottom { */
        /* background-color: inherit; */
        /* border-top: 0 none; */
    /* } */

    /* .heading-text {
      font-size: 1.6em;
    }
    .button-text {
      font-size: 1.4em;
    } */
}
