body {
    background-color: black;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
    /* margin-top: 0; */
}

.row {
    background-color: black;
    padding: 0% 0% 0% 0%;
}

.changed-height {
    height: 5em;
}

.margin-centered {
    text-align: center;
    margin: auto;
}

.description-style {
  text-align: center;
  justify-content: center;
}

.description-font-style {
  color: #fff;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  margin-left: 8%;
}

.filler {
  height: 30px;
}
/* #login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
*/
/* @media all and (max-width:550px) */
  /* .description-font-style { */
  /* color: #fff; */
  /* font-family: 'Tangerine', serif; */
  /* font-size: 18px; */
  /* margin-left: 40%; */
  /* color: blue; */
/* } */
    /* #login-dp{ */
        /* background-color: inherit; */
        /* color: #fff; */
    /* } */
    /* #login-dp .bottom{ */
        /* background-color: inherit; */
        /* border-top:0 none; */
    /* } */
/* } */

/* @media all and (min-width:550px) and (max-width:770px){ */
  /* .description-font-style { */
  /* color: #fff; */
  /* font-family: 'Tangerine', serif; */
  /* font-size: 18px; */
  /* margin-left: 40%; */
  /* color: red; */
/* } */
    /* #login-dp{ */
        /* background-color: inherit; */
        /* color: #fff; */
    /* } */
    /* #login-dp .bottom{ */
        /* background-color: inherit; */
        /* border-top:0 none; */
    /* } */
/* } */
@media all and (max-width:599px) {
	.description-font-style {
      /* color: #fff; */
      /* font-family: 'Tangerine', serif; */
      font-size: 18px;
      margin-left: 32%;
    }
}
@media all and (min-width:600px) and (max-width:770px){
  .description-font-style {
  /* color: #fff; */
  /* font-family: 'Tangerine', serif; */
  font-size: 20px;
  margin-left: 29%;
}
    /* #login-dp{ */
        /* background-color: inherit; */
        /* color: #fff; */
    /* } */
    /* #login-dp .bottom{ */
        /* background-color: inherit; */
        /* border-top:0 none; */
    /* } */
}
@media all and (min-width:771px) and (max-width:1170px){
  .description-font-style {
  /* color: #fff; */
  /* font-family: 'Tangerine', serif; */
  font-size: 30px;
  margin-left: 11%;
}
    /* #login-dp{ */
        /* background-color: inherit; */
        /* color: #fff; */
    /* } */
    /* #login-dp .bottom{ */
        /* background-color: inherit; */
        /* border-top:0 none; */
    /* } */
}